@charset "UTF-8";
/* CSS INDEX PAGINA TOTAL */
/*fuentes*/
h1 {
  font-family: michroma, sans-serif;
  font-size: 50px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #FFFFFF;
}

h4 {
  text-align: center;
  font-family: michroma;
  font-size: 30px;
  color: #FFFFFF;
}

h5 {
  text-align: center;
  font-family: michroma;
  font-size: 15px;
  color: #FFFFFF;
}

li {
  font-family: michroma;
  font-size: 17px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #FFFFFF;
}

a {
  font-family: michroma;
  font-size: 15px;
  color: #FFFFFF;
}

p {
  text-align: center;
  font-family: michroma;
  font-size: 15px;
  color: #FFFFFF;
}

/*diseños de pag */
html {
  margin: 0;
  padding: 0;
}

:root {
  --red: #ec2f3f;
}

*:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.colorPagina {
  background-color: black;
}

.titulo {
  margin-top: 10px;
}

nav ul li {
  float: right;
  display: inline;
  padding: 8px;
  margin-top: 20px;
}

.fondo {
  max-width: 100%;
  height: auto;
  left: 0px;
  top: 130px;
  background-image: url("../recursos/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 800px) {
  .fondo {
    background-image: none;
  }
}

.iconos {
  margin-top: 50px;
  margin-left: 150px;
  width: 85px;
  height: 88px;
}

.cubo {
  margin-left: 50px;
  margin-top: 20%;
  margin-bottom: 100px;
  width: 361px;
  height: 501px;
  left: 87px;
  background-color: #060606B0;
  border-radius: 20px;
}

.cubo__nutricion {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.cubo__Anatomia {
  color: white;
}

.cubo__Ejercicios {
  color: blue;
}

.cubo_masInfo {
  text-decoration: none;
  margin: 40px;
  margin-left: 50px;
  text-align: center;
  position: absolute;
  width: 234px;
  height: 48px;
  background-color: rgba(161, 0, 0, 0.801);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 0 white;
            box-shadow: 0 0 0 0 white;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 0 white;
            box-shadow: 0 0 0 0 white;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

.rectangulo_footer {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ubiImag {
  margin-left: 140px;
}

.siguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.footer {
  margin-top: 500px;
}

/*pagina nutricon*/
.portadaNutricion {
  max-width: 100%;
  height: 360px;
  margin-top: 55px;
  background-image: url("../recursos/nutricionportada1.jpg");
  background-repeat: no-repeat;
  left: 0px;
  top: 123px;
}

h2 {
  text-align: center;
  font-family: michroma;
  font-size: 40px;
  color: #FFFFFF;
}

h3 {
  text-align: center;
  margin-top: 100px;
  font-family: michroma;
  font-size: 30px;
  color: #FFFFFF;
}

.nutri {
  margin-top: 5px;
  width: 100%;
  height: 450px;
  background-color: #252525;
}

.ubih3 {
  margin-top: 150px;
}

.contenidoAtleta_margenes {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
}

.imgNutri {
  margin-left: 70px;
  margin-bottom: 10px;
}

.footerNutricion {
  margin-top: 500px;
}

@media (max-width: 800px) {
  .footerNutricion {
    margin-top: 2000px;
  }
}

/*pagina anatomia*/
.portadaAnatomia {
  max-width: 100%;
  height: auto;
  margin-top: 55px;
  background-image: url("../recursos/ANATOMIA PORTADA.jpg");
  background-repeat: no-repeat;
  left: 0px;
  top: 123px;
}

.margenesTextos {
  width: auto;
  height: 89px;
  left: 102px;
  top: 500px;
}

.img-fluid {
  margin-left: 300px;
  max-width: 100%;
  height: auto;
}

.footerAnatomia {
  margin-top: 100px;
}

/* pagina ejercicios */
.portadaEjercicios {
  max-width: 100%;
  height: auto;
  background-image: url(../recursos/EJERCICIOPORTADA.jpg);
  background-repeat: no-repeat;
  left: 0px;
  top: 120px;
}

.espvideos {
  margin-top: 50px;
  margin-left: 30px;
}

.footerEjercicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Letras {
  text-align: center;
  margin-top: 20px;
  font-family: michroma;
  font-size: 30px;
  color: #FFFFFF;
}

.espBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* PAGINA REGISTRO */
.cuadroContenido {
  text-align: center;
  position: absolute;
  width: 500px;
  height: 700px;
  margin-top: 200px;
  margin-left: 100px;
  background: rgba(255, 250, 250, 0.466);
  border-radius: 20px;
}

h6 {
  text-align: center;
  font-family: michroma;
  font-size: 20px;
  color: #FFFFFF;
}

.lugarTitulo {
  margin-top: 250px;
  text-align: center;
  font-family: michroma, sans-serif;
  font-size: 70px;
  color: #FFFFFF;
}

.botonGris {
  width: 234px;
  height: 48px;
  left: 274px;
  top: 504px;
  background: rgba(255, 250, 250, 0.19);
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.botonOscuro {
  width: 234px;
  height: 48px;
  left: 274px;
  top: 639px;
  background: #0000005b;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.footerRegistro {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ordenFinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 500px;
}

/*AGREGADO DE SSAS EN PAGINA SUPLEMENTOS*/
.columna1 {
  padding: 10px;
  width: 100%;
}

@media (min-width: 600px) {
  .columna1 {
    padding: 20px;
    font-size: 1.5em;
  }
}

@media (min-width: 800px) {
  .columna1 {
    padding: 40px;
    font-size: 2em;
  }
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #363636;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 140px;
  background-color: #7D0202;
}

.ubi {
  top: 497px;
  margin-left: 40%;
}

.carta {
  margin: 100px 50px 0px 100px;
  width: 280px;
  height: 480px;
  background-color: #234fc9;
  color: black;
}

.boton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  background-color: #7d0202;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
  overflow: hidden;
}

.boton::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.boton span {
  position: relative;
  z-index: 2;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.boton:hover::after {
  top: 0;
}

.lugar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lugar_ima {
  margin: 100px 50px 0 150px;
}

.espacioL li {
  margin-left: 300px;
}
/*# sourceMappingURL=estilos.css.map */